*{
    margin: 0;
    padding: 0;
}
.menu{
    background-image: url("/images/nrd-1ZOZyhfSvfs-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    text-align: center;
    color: yellowgreen;
    font-size: 40px;
    padding: 100px;
}
.tall{
    text-align: center;
    font-weight: 50px;
    font-style: obset;
}
.about{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.nice{
    padding: 10px;
    box-shadow: 3px 3px 6spx;
    background-color: whitesmoke;
    font-style: oblique;
    font-weight: 20px;
}
.top{
    background-image: url("/images/miha-rekar-kWEkH7j3KNI-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.menu-flex{
    display: flex;
}
.star{
    justify-content: space-evenly;
}
.custom{
    margin-left: 20px;
}
.moon{
    justify-content: space-evenly;
}
.call{
    margin-left: 30rem;
}
.submit{
    margin-left: 5rem;
}
.top{
    position: relative;
    border: 1px solid transparent;
}
.container{
    background-color: yellow;
}
.contacts{
    text-align: center;
    padding: 10px;
    box-shadow: 3px 3px 6spx;
    background-color: whitesmoke;
    font-style: oblique;
    font-weight: 20px;
    margin: 15px;
}
.nic{
    text-align: center;
    padding: 10px;
    background-image: url("/images/amirali-mirhashemian-XtLPfib7OuM-unsplash (1).jpg");
    font-style: oblique;
    font-weight: 20px;
    background-size: cover;
    background-position: center;
}
.footer{
    background-color: black;
    text-align: center;
    padding: 100px;
    margin: 10px;
    height:40vh
}
.uj{
    color: white;
}
#pink{
    display: none;
}